<div class="container mb-4 mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <dic class="card-title text-center">
                    <h4>
                        Company Search 
                    </h4>
                </dic>
                <div class="card-body">
                    <form action="/admin/google" method="post">
                        <div class="row mb-4">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Query: Hotels in San Francisco, USA" name="query" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-primary btn-sm">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>